<div fxLayout="row">
    <div fxFlex="300px">
        <div *ngIf="artist" class="artist-container">
            <img [src]="loginService.imagePath( artist.photo, 'default.jpg' )" />
            <h2>{{ artist.name }}</h2>
            <p>{{ artist.country }} - {{ artist.bio }}</p>
            <p>{{ artist.grammys }} Grammys</p>
        </div>
    </div>
    <div fxFlex fxLayout="column">
        <div fxLayout="row" fxLayoutGap="20px" *ngIf="album">
            <div>
                <img [src]="loginService.imagePath( album.cover, 'default.jpg' )" class="album-cover" />
            </div>
            <div>
                <p><strong>{{ album.name }}</strong></p>
                <p>{{ album.year }}</p>
                <p *ngIf="album._collaborators">{{ showNames( album._collaborators, 'name' ) }}</p>
            </div>
        </div>
        <div fxFlex>
            <mat-list role="list" *ngIf="songs">
                <h3 matSubheader>Canciones</h3>
                <mat-list-item role="listitem" *ngFor="let song of songs" fxLayout="row">
                    <div fxFlex>{{ song.name }}</div>
                    <button mat-icon-button (click)="playSong(song)"><mat-icon>play_arrow</mat-icon></button>
                </mat-list-item>
                <mat-list-item role="listitem" *ngIf="loginService.hasPermission('music-song-create')" fxLayout="row">
                    <div>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Nombre de la canción" [(ngModel)]="new_song.name" autocomplete="off" required>
                        </mat-form-field>
                    </div>
                    <div>
                        <div style="display:none">
                            <input type="file" #songFile (change)="changeSongFile($event)" accept="audio/mp3">
                        </div>
                        <span *ngIf="song_file">{{ song_file.name }}</span>
                        <button mat-button color="secondary" (click)="songFile.click()">Seleccionar audio</button>
                    </div>
                    <button mat-raised-button color="primary" [disabled]="!new_song.name || !song_file" (click)="saveSong()">Agregar canción</button>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</div>