:host {
    .artist-container {
        padding: 20px;
        img {
            max-width: 100%;
        }
    }
    .artist-card {
        width: 300px;
        margin-bottom: 10px;
        background-size: cover;
        min-height: 200px;
        padding: 0;
        mat-card-header {
            color: #fff;
            background: rgba(0,0,0,0.2);
            padding-top: 10px;
        }
        .edit-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
        .delete-button {
            position: absolute;
            top: 10px;
            right: 40px;
        }
    }
}