<div fxLayout="row">
    <div fxFlex="300px">
        <div *ngIf="artist" class="artist-container">
            <img [src]="loginService.imagePath( artist.photo, 'default.jpg' )" />
            <h2>{{ artist.name }}</h2>
            <p>{{ artist.country }} - {{ artist.bio }}</p>
            <p>{{ artist.grammys }} Grammys</p>
        </div>
    </div>
    <div fxFlex>
        <div fxLayout="row">
            <div fxFlex></div>
            <mat-form-field>
                <mat-label>Ordenar por:</mat-label>
                <mat-select [(ngModel)]="sortBy" (ngModelChange)="sortItems()">
                    <mat-option value="_id">Reciente</mat-option>
                    <mat-option value="name">Nombre del álbum</mat-option>
                    <mat-option value="year">Fecha</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <!-- Start albums -->
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px" *ngIf="albums && artist" class="m-10">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="artist-card new-item" (click)="newAlbumDialog()" *ngIf="loginService.hasPermission('music-album-create')">
                    <mat-icon>add</mat-icon>
                    <h3>Nuevo album</h3>
            </mat-card>
            <mat-card fxLayout="column"
                fxLayoutAlign="start stretch"
                class="artist-card"
                *ngFor="let alb of albums"
                [ngStyle]="{'background-image': 'url('+loginService.imagePath( alb.cover, 'default.jpg' )+')'}"
                >
                <mat-card-header>
                    <mat-card-title>{{ alb.name }}</mat-card-title>
                    <mat-card-subtitle>{{ alb.year }}</mat-card-subtitle>
                </mat-card-header>
        
                <div fxFlex></div>
                
                <mat-card-content >
                    
                    <p>
                    {{ alb.genre }}
                    </p>
                    <button mat-button color="primary" [routerLink]="['/artist/'+artist._id+'/album/'+alb._id]">Ver album</button>
                </mat-card-content>
                <button class="edit-button" color="warn" mat-icon-button aria-label="Editar album " (click)="editAlbum(alb)" *ngIf="loginService.hasPermission('music-album-update')">
                    <mat-icon>edit</mat-icon>
                </button>
                <button class="delete-button" color="danger" mat-icon-button aria-label="Borrar album" (click)="removeAlbum(alb)" *ngIf="loginService.hasPermission('music-album-delete')">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card>
        </div>
        <!-- End albums -->
    </div>
</div>