<form [formGroup]="artistForm">
    <div>
        
        <h2>{{ dialogTitle }}</h2>
        
        <div fxLayout="column" fxLayoutAlign="start stretch" >
            <mat-form-field>
                <input type="text" matInput placeholder="Nombre" name="name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="País" name="country" formControlName="country" required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Biografía" name="bio" formControlName="bio" required>
            </mat-form-field>
            <mat-form-field>
                <input type="number" matInput placeholder="Número de grammys" name="grammys" formControlName="grammys" required>
            </mat-form-field>

            <div>
                <img class="prev-img" [src]="loginService.imagePath(artistForm.get('photo').value,'default.jpg')" />
            </div>

            <div>
                Avatar:
                <input type="file" (change)="changeAvatar($event)" accept="image/*">
            </div>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="start end">
            <button mat-button [disabled]="!artistForm.valid" [mat-dialog-close]="artistForm.value">Guardar</button>
        </div>
    </div>
</form>