<div class="full-height" fxLayout="column" fxLayoutAlign="center center" >
        <form [formGroup]="loginForm" (ngSubmit)="doLogin()">
            <mat-card>
                <mat-card-header>
                    <h1>Iniciar Sesión</h1>
                </mat-card-header>
                <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" >
                    <mat-form-field>
                        <input type="email" matInput placeholder="Email" name="email" formControlName="email" required>
                    </mat-form-field>
                    
                    <mat-form-field>
                        <input type="password" matInput placeholder="Password" name="password" formControlName="password" required>
                    </mat-form-field>
                    
                </mat-card-content>
                <mat-card-actions fxLayout="column" fxLayoutAlign="start end">
                    <button mat-button [disabled]="!loginForm.valid">Iniciar Sesión</button>
                </mat-card-actions>
            </mat-card>
        </form>
        
</div>