<mat-toolbar color="primary" fxLayout="row">
    <a routerLink="/"><img src="assets/logo.png" width="100"></a>
  
    <!-- This fills the remaining space of the current row -->
    <span fxFlex></span>
    
    <div *ngIf="loginService.user">
        <button mat-button [matMenuTriggerFor]="menu">{{ loginService.user.name }}</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="loginService.logout()">Cerrar Sesión</button>
        </mat-menu>
    </div>
    <div *ngIf="!loginService.user">
        <button mat-button [routerLink]="['/login']" >Iniciar Sesión</button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
<div>
    hola mundo
    <mat-basic-audio-player *ngIf="loginService.audioControl.file" [audioUrl]="loginService.audioControl.file" [title]="loginService.audioControl.name" [autoPlay]="true" muted="muted" [displayTitle]="true" [displayVolumeControls]="true" ></mat-basic-audio-player>
    <div *ngIf="!loginService.audioControl.file">Buscar una cancion</div>
</div>