
<div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap="10px" *ngIf="artists" class="m-10">
    <mat-card fxLayout="column" fxLayoutAlign="center center" class="artist-card new-item" (click)="newArtistDialog()" *ngIf="loginService.hasPermission('music-artist-create')">
            <mat-icon>add</mat-icon>
            <h3>Nuevo artista</h3>
    </mat-card>
    <mat-card fxLayout="column"
        fxLayoutAlign="start stretch"
        class="artist-card"
        *ngFor="let art of artists"
        [ngStyle]="{'background-image': 'url('+getArtistImage(art)+')'}"
        >
        <mat-card-header>
            <mat-card-title>{{ art.name }}</mat-card-title>
            <mat-card-subtitle>{{ art.country }}</mat-card-subtitle>
        </mat-card-header>

        <div fxFlex></div>
        <!--
        <img *ngIf="art.photo" mat-card-image [src]="uploadsUrl + art.photo" alt="{{art.name}}">
        <img *ngIf="!art.photo" mat-card-image [src]="uploadsUrl + 'default.jpg'" alt="{{art.name}}">
        -->
        <mat-card-content >
            
            <p>
            {{ art.bio }}
            </p>
            <button mat-button color="primary" [routerLink]="['/artist/'+art._id]">Ver artista</button>
        </mat-card-content>
        <button class="edit-button" color="warn" mat-icon-button aria-label="Editar artista" (click)="editArtist(art)" *ngIf="loginService.hasPermission('music-artist-update')">
            <mat-icon>edit</mat-icon>
        </button>
        <button class="delete-button" color="danger" mat-icon-button aria-label="Borrar artista" (click)="removeArtist(art)" *ngIf="loginService.hasPermission('music-artist-delete')">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card>
</div>