<div class="full-height" fxLayout="column" fxLayoutAlign="center center" >
    <form [formGroup]="registerForm" (ngSubmit)="doRegister()">
        <mat-card>
            <mat-card-header>
                <h1>Registrar Usuario</h1>
            </mat-card-header>
            <mat-card-content fxLayout="column" fxLayoutAlign="start stretch" >
                <mat-form-field>
                    <input type="name" matInput placeholder="Nombre" name="name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" name="email" formControlName="email" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" name="password" formControlName="password" required>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput placeholder="Confirmar Password" name="confirm_password" formControlName="confirm_password" required>
                </mat-form-field>

                <div *ngIf="registerForm.get('confirm_password').touched && (registerForm.get('password').value != registerForm.get('confirm_password').value)">
                    Las contraseñas no coinciden
                </div>
                
            </mat-card-content>
            <mat-card-actions fxLayout="column" fxLayoutAlign="start end">
                <button mat-button [disabled]="!registerForm.valid || registerForm.get('password').value != registerForm.get('confirm_password').value">Iniciar Sesión</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>