<form [formGroup]="albumForm">
    <div>
        
        <h2>{{ dialogTitle }}</h2>
        
        <div fxLayout="column" fxLayoutAlign="start stretch" >
            <mat-form-field>
                <input type="text" matInput placeholder="Nombre" name="name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput placeholder="Año" name="year" formControlName="year" required>
            </mat-form-field>
            <mat-form-field>
                <mat-select formControlName="genre" multiple placeholder="Géneros">
                    <mat-option *ngFor="let gen of genreOptions" [value]="gen">{{gen}}</mat-option>
                </mat-select>
            </mat-form-field>

            <div>
                <img class="prev-img" [src]="loginService.imagePath(albumForm.get('cover').value,'default.jpg')" />
            </div>

            <div style="display:none">
                Avatar:
                <input type="file" #avatar (change)="changeAvatar($event)" accept="image/*">
            </div>

            <button mat-raised-button color="primary" (click)="avatar.click()">Seleccionar foto</button>
            
        </div>
        <div fxLayout="column" fxLayoutAlign="start end">
            <button mat-button [disabled]="!albumForm.valid" [mat-dialog-close]="albumForm.value">Guardar</button>
        </div>
    </div>
</form>